
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.desktop-1-KRi {
  padding-bottom: 2.7rem;
  position: relative;
  background: radial-gradient(140.09% 86.91% at 12.64% 17.77%, #622774 0%, rgba(197, 51, 100, 0.9700000286) 100%);
  box-sizing: border-box;
  overflow: hidden;
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;

  .auto-group-ivdn-eMW {
    width: 100%;
    height: 205.5rem;
    position: relative;
    flex-shrink: 0;

    .auto-group-rmpv-QdW {
      left: 21.3rem;
      top: 10.4rem;
      display: flex;
      align-items: center;
      width: 97.8rem;
      height: 8.4rem;
      position: absolute;

      .auto-group-nasa-rEc {
        font-size: 4.4rem;
        font-family: IM FELL Great Primer, 'Source Sans Pro';
        align-items: center;
        border-radius: 4.5rem;
        height: 100%;
        font-weight: 400;
        color: #ffffff;
        white-space: nowrap;
        justify-content: center;
        background-color: rgba(205, 138, 215, 0.5099999905);
        flex-shrink: 0;
        margin-right: 5.6rem;
        width: 20.8rem;
        line-height: 1.2575;
        display: flex;
      }
      .auto-group-zv5e-rGY {
        box-sizing: border-box;
        height: 100%;
        line-height: 1.2575;
        color: #ffffff;
        font-size: 4.4rem;
        font-weight: 400;
        white-space: nowrap;
        background-color: rgba(205, 138, 215, 0.5099999905);
        flex-shrink: 0;
        width: 19.5rem;
        font-family: IM FELL Great Primer, 'Source Sans Pro';
        border-radius: 4.5rem;
        margin-right: 5.6rem;
        padding: 1.3rem 1rem 1.5rem 1rem;
      }
      .auto-group-nun4-Pvg {
        font-weight: 400;
        color: #ffffff;
        font-family: IM FELL Great Primer, 'Source Sans Pro';
        align-items: center;
        justify-content: center;
        width: 20.4rem;
        font-size: 4.4rem;
        line-height: 1.2575;
        background-color: rgba(205, 138, 215, 0.5099999905);
        margin-right: 6.1rem;
        height: 100%;
        white-space: nowrap;
        display: flex;
        border-radius: 4.5rem;
        flex-shrink: 0;
      }
      .auto-group-x2un-dKE {
        color: #ffffff;
        background-color: rgba(205, 138, 215, 0.5099999905);
        border-radius: 4.5rem;
        padding: 1.5rem 1.2rem 1.3rem 1.2rem;
        width: 19.8rem;
        height: 100%;
        font-size: 4.4rem;
        white-space: nowrap;
        flex-shrink: 0;
        box-sizing: border-box;
        font-weight: 400;
        line-height: 1.2575;
        font-family: IM FELL Great Primer, 'Source Sans Pro';
      }
    }
    .auto-group-168y-4SU {
      left: 10.5rem;
      top: 35.8rem;
      display: flex;
      align-items: center;
      width: 105rem;
      height: 50.4rem;
      position: absolute;

      .auto-group-p7pl-vja {
        flex-shrink: 0;
        width: 52.1rem;
        height: 100%;
        position: relative;

        .rectangle-6-GHe {
          width: 13.8rem;
          height: 13.8rem;
          position: absolute;
          left: 0;
          top: 36.6rem;
          object-fit: cover;
          vertical-align: top;
        }
        .rectangle-5-xgG {
          top: 0;
          object-fit: cover;
          vertical-align: top;
          width: 49.9rem;
          height: 46.9rem;
          position: absolute;
          left: 2.2rem;
        }
      }
      .auto-group-sc8p-eZ6 {
        box-sizing: border-box;
        padding: 10rem 0rem 6.7rem 10.2rem;
        height: 100%;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .auto-group-gtdj-Xct {
          margin-right: 2.3rem;
          width: 34.6rem;
          height: 100%;
          flex-shrink: 0;

          .bonjour-E1W {
            font-size: 5.6rem;
            font-weight: 400;
            line-height: 1.2575;
            color: #eda10f;
            font-family: IM FELL Great Primer, 'Source Sans Pro';
            white-space: nowrap;
            margin-bottom: 4.9rem;
          }
          .auto-group-dat2-k1n {
            width: 100%;
            height: 21.7rem;
            position: relative;

            .rectangle-10-s6Q {
              top: 0;
              background-color: rgba(205, 138, 215, 0.5099999905);
              width: 5.8rem;
              height: 8.8rem;
              position: absolute;
              left: 12.6rem;
            }
            .rectangle-11-N3A {
              position: absolute;
              left: 20.7rem;
              top: 0;
              background-color: rgba(205, 138, 215, 0.5099999905);
              width: 5.8rem;
              height: 8.8rem;
            }
            .rectangle-12-5iG {
              width: 5.8rem;
              height: 8.8rem;
              position: absolute;
              left: 28.8rem;
              top: 0;
              background-color: rgba(205, 138, 215, 0.5099999905);
            }
            .rectangle-14-rkx {
              width: 5.8rem;
              height: 8.8rem;
              position: absolute;
              left: 4.4rem;
              top: 0;
              background-color: rgba(205, 138, 215, 0.5099999905);
            }
            .i-m-danusha-student-designer-NUQ {
              top: 1.5rem;
              color: #ffffff;
              font-family: IM FELL Great Primer, 'Source Sans Pro';
              left: 0;
              font-size: 5.6rem;
              font-weight: 400;
              line-height: 1.2575;
              width: 33.7rem;
              height: 20.2rem;
              position: absolute;

              .i-m-danusha-student-designer-NUQ-sub-0 {
              }
              .i-m-danusha-student-designer-NUQ-sub-1 {
                font-weight: 400;
                line-height: 1.2575;
                color: #eda10f;
                font-family: Iceberg, 'Source Sans Pro';
                font-size: 5.2rem;
              }
            }
          }
        }
        .rectangle-13-y8k {
          margin-bottom: 0.9rem;
          width: 5.8rem;
          height: 8.8rem;
          background-color: rgba(205, 138, 215, 0.5099999905);
          flex-shrink: 0;
        }
      }
    }
    .auto-group-vhpu-qAx {
      top: 99.5rem;
      display: flex;
      align-items: flex-start;
      width: 146.3rem;
      height: 82.3rem;
      position: absolute;
      left: 12.9rem;

      .auto-group-tpbw-Hoe {
        margin: 2.1rem 20.4rem 0rem 0rem;
        width: 67.2rem;
        height: 70.5rem;
        position: relative;
        flex-shrink: 0;

        .rectangle-8-mTv {
          width: 67.2rem;
          height: 66.3rem;
          position: absolute;
          left: 0;
          top: 4.2rem;
          background-color: rgba(205, 138, 215, 0.5099999905);
        }
        .i-m-a-student-at-crescent-institution-of-science-and-technology-currently-pursuing-bachelor-of-technology-upcoming-designer-and-programming-enthusiast-GvU {
          height: 49.3rem;
          font-size: 5.6rem;
          line-height: 1.2575;
          color: #ffffff;
          font-family: IM FELL Great Primer, 'Source Sans Pro';
          width: 63.5rem;
          position: absolute;
          left: 3.5rem;
          top: 9.8rem;
          font-weight: 400;
        }
        .rectangle-7-57E {
          top: 0;
          background-color: #d679b6;
          border-radius: 2.3rem;
          width: 40.5rem;
          height: 10rem;
          position: absolute;
          left: 3.5rem;
        }
        .a-bit-about-me-JEt {
          position: absolute;
          left: 6.4rem;
          line-height: 1.2575;
          font-family: IM FELL Great Primer, 'Source Sans Pro';
          width: 34.1rem;
          height: 7.1rem;
          font-weight: 400;
          color: #ffffff;
          white-space: nowrap;
          top: 0.4rem;
          font-size: 5.6rem;
        }
      }
      .auto-group-fgwj-ZAp {
        width: 58.7rem;
        height: 100%;
        position: relative;
        flex-shrink: 0;

        .ellipse-3-tD6 {
          width: 26.1rem;
          height: 26.7rem;
          position: absolute;
          left: 15.6rem;
          top: 30.5rem;
          object-fit: contain;
          vertical-align: top;
        }
        .rectangle-19-n3a {
          vertical-align: top;
          width: 41.9rem;
          height: 72.5rem;
          position: absolute;
          left: 0;
          top: 0;
          object-fit: cover;
        }
        .ellipse-1-Vya {
          height: 26.7rem;
          position: absolute;
          left: 32.6rem;
          top: 55.6rem;
          object-fit: contain;
          vertical-align: top;
          width: 26.1rem;
        }
      }
    }
    .auto-group-9bda-q1r {
      width: 113.4rem;
      height: 11.1rem;
      position: absolute;
      left: 12.5rem;
      top: 192.6rem;
      display: flex;
      align-items: center;

      .contact--92Y {
        font-weight: 400;
        line-height: 1.9425;
        color: #ffffff;
        white-space: nowrap;
        font-size: 5.7rem;
        font-family: Amita, 'Source Sans Pro';
        display: flex;
        align-items: baseline;
        flex-shrink: 0;

        .contact--92Y-sub-0 {
          font-family: ABeeZee, 'Source Sans Pro';
          font-size: 5.7rem;
          font-weight: 400;
          line-height: 1.2575;
          color: #ffffff;
        }
        .contact--92Y-sub-1 {
        }
      }
      .auto-group-b5te-qpU {
        height: 100%;
        display: flex;
        align-items: center;
        flex-shrink: 0;
        box-sizing: border-box;
        padding-left: 12.4rem;

        .rectangle-17-wcc {
          flex-shrink: 0;
          margin: 0rem 3.5rem 1.6rem 0rem;
          width: 8.2rem;
          height: 8.1rem;
          object-fit: cover;
          vertical-align: top;
        }
        .item-7010071846-SZN {
          color: #ffffff;
          font-family: Amita, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 7.8rem 1.3rem 0rem;
          font-size: 4rem;
          font-weight: 400;
          line-height: 1.9425;
        }
        .rectangle-18-MRS {
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 1.8rem 0.7rem 0rem;
          width: 11.1rem;
          height: 10.4rem;
          object-fit: cover;
        }
        .danu04-qLc {
          font-size: 4.4rem;
          font-weight: 400;
          line-height: 1.9425;
          color: #ffffff;
          font-family: Amita, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 0.5rem;
        }
      }
    }
    .rectangle-16-jwn {
      position: absolute;
      left: 0.8rem;
      top: 188.4rem;
      background-color: rgba(3, 3, 3, 0.400000006);
      width: 144rem;
      height: 0.7rem;
    }
  }
  .rectangle-15-4jA {
    width: 100%;
    height: 0.7rem;
    background-color: rgba(3, 3, 3, 0.400000006);
    flex-shrink: 0;
  }
}
